Form Component {{isFormValid}}

<form name="fname" (ngSubmit)="onSubmit()" class="form-container">

        <amexio-header  class="form-header" 
            [ngClass]="{'flex-start':(headeralign=='left'),'flex-end':(headeralign=='right'),'flex-center':(headeralign=='center')}">
          {{fheader}}
        </amexio-header>
        
        <amexio-body class="form-body formbody"> 
            <ng-content></ng-content>
        </amexio-body>
        
        <!-- <amexio-action class="form-footer" 
            [ngClass]="{'flex-start':(footeralign=='left'),'flex-end':(footeralign=='right'),'flex-center':(footeralign=='center')}">
             <amexio-button [disabled]="!isFormValid" [label]="btnlabel" [type]="'primary'" [tooltip]="'Save'"></amexio-button>
        </amexio-action> -->
        <footer class="card-footer"
[ngClass]="{'flex-start':(footeralign=='left'),'flex-end':(footeralign=='right'),'flex-center':(footeralign=='center')}">
<ng-content select="amexio-action"></ng-content>
</footer>
</form>